<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.commonchicken.mapper.CommonBoardMapper">
	<insert id="insertCommonBoard">
		<selectKey resultType="int" keyProperty="cmbdNum" order="BEFORE">
			select common_board_seq.nextval from dual
		</selectKey>
		insert into common_board_tb (CMBD_NUM, MEM_EMAIL, CM_NUM, CMBD_TITLE, CMBD_STATUS)
		values(#{cmbdNum}, #{memEmail}, #{cmNum}, #{cmbdTitle}, 0)
	</insert>
</mapper>