<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.commonchicken.mapper.CommonMapper">
	<insert id="insertCommon">
		<selectKey resultType="int" keyProperty="cmNum" order="BEFORE">
			select common_seq.nextval from dual
		</selectKey>
		
		insert into common_tb (CM_NUM, CM_DELIVERY_TIME, CM_CLOSE, CM_GOAL_PEOPLE, STO_NUM, MEM_EMAIL)
		values(#{cmNum}, TO_DATE(#{cmDeliveryTime}, 'YYYY-MM-DD HH24-MI-SS'), TO_DATE(#{cmClose}, 'YYYY-MM-DD HH24-MI-SS'),
        #{cmGoalPeople}, #{stoNum}, #{memEmail})
		 		 		
	
	</insert>




	<update id="updateCommon">

	</update>


	<select id="selectCommon" resultType="CommonDTO">


	</select>

	<select id="selectCommonList" resultType="CommonDTO">
		select * from common_tb where cm_status !=9 order by cm_num desc
	</select>
	
	<update id="deleteCommon">
		update common_tb set cm_status=9 where cm_num = #{cmNum}
	</update>

</mapper>