<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.commonchicken.mapper.ReplyMapper">
	<insert id="insertReply">
		<selectKey resultType="int" keyProperty="rplNum" order="BEFORE">
			select reply_seq.nextval from dual
		</selectKey>
		insert into reply_tb (RPL_NUM, REV_NUM, ORD_DETAIL_NUM, MEM_EMAIL2, CM_NUM, STO_NUM, MEM_EMAIL, RPL_CONTENT)
		values(#{rplNum}, #{revNum}, #{ordDetailNum}, #{memEmail2}, #{cmNum}, #{stoNum}, #{memEmail}, #{rplContent})
	</insert>
	
	<select id="selectReplyList" resultType="ReplyDTO">
		select * from reply_tb 
		<if test="stoNum!=null and stoNum!=''"> 
			where sto_num = #{stoNum}
		</if>
	</select>
</mapper>