<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.commonchicken.mapper.ReviewMapper">
	<!--
private int revNum;
	private String ordDetailNum;
	private String memEmail;
	private int cmNum;
	private String revContent;
	private int revRated;
	private String revDate;
	private int revViews;
	private String revOrigin;
	private String revUpload;
	private MultipartFile file;
-->
	<insert id="insertReview">
		<selectKey resultType="int" keyProperty="revNum" order="BEFORE">
			select review_seq.nextval from dual
		</selectKey>
		insert into review_tb (REV_NUM,ORD_DETAIL_NUM,MEM_EMAIL,CM_NUM,REV_CONTENT,REV_RATED,REV_DATE,REV_VIEWS,REV_ORIGIN,REV_UPLOAD)
		values(#{revNum}, #{ordDetailNum}, #{memEmail}, #{cmNum}, #{revContent}, #{revRated}, sysdate, 0, #{revOrigin}, #{revUpload})
	</insert>
	
	<!-- 리뷰게시판용 -->
	<select id="selectReviewList" resultType="ReviewVO">
		select a.REV_NUM REV_NUM,a.MEM_EMAIL MEM_EMAIL,a.REV_CONTENT REV_CONTEN,a.REV_RATED REV_RATED,a.REV_DATE REV_DATE,a.REV_UPLOAD REV_UPLOAD,c.PRD_NAME PRD_NAME
		from review_tb a
		left join order_tb b on a.ORD_DETAIL_NUM= b.ORD_DETAIL_NUM
		left join product_tb c on b.PRD_CODE = c.PRD_CODE
		order by a.REV_DATE;
	</select>
	
	<!-- 마이페이지 리뷰용 -->
	<select id="selectPagerReview" resultType="ReviewVO">
		select * from (select rownum rn, board.* from (select a.REV_NUM REV_NUM,a.MEM_EMAIL MEM_EMAIL,a.REV_CONTENT REV_CONTENT,a.REV_RATED REV_RATED,a.REV_DATE REV_DATE,a.REV_UPLOAD REV_UPLOAD,c.PRD_NAME PRD_NAME,c.STO_NUM STO_NUM
		from review_tb a
		left join order_tb b on a.ORD_DETAIL_NUM= b.ORD_DETAIL_NUM
		left join product_tb c on b.PRD_CODE = c.PRD_CODE
		order by a.REV_DATE) board)
		where (rn between #{startRow} and #{endRow}) and (MEM_EMAIL =#{memEmail})
	</select>
	
	<select id="selectStoreReviewList" resultType="ReviewVO">
		select * from (select rownum rn, board.* from (select a.REV_NUM REV_NUM,a.MEM_EMAIL MEM_EMAIL,a.REV_CONTENT REV_CONTENT,a.REV_RATED REV_RATED,a.REV_DATE REV_DATE,a.REV_UPLOAD REV_UPLOAD,c.PRD_NAME PRD_NAME,c.STO_NUM STO_NUM
		from review_tb a
		left join order_tb b on a.ORD_DETAIL_NUM= b.ORD_DETAIL_NUM
		left join product_tb c on b.PRD_CODE = c.PRD_CODE
		order by a.REV_DATE) board)
		where STO_NUM = #{stoNum}
	</select>
	
	<select id="getReviewCount" resultType="int">
		select count(*) from review_tb where MEM_EMAIL =#{memEmail}
	</select>
	
	
	<select id="selectReview" resultType="ReviewDTO">
		select * from review_tb where REV_NUM=#{revNum}
	</select>
	
	
	
</mapper>