<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.commonchicken.mapper.SearchStoreMapper">
	<resultMap type="SearchStoreVO" id="SearchStoreResultMap">
		<id column="sto_num" property="stoNum"/>
		<result column="sto_name" property="stoName"/>
		<result column="sto_add1" property="stoAdd1"/>
		<result column="sto_add2" property="stoAdd2"/>
		<result column="sto_phone" property="stoPhone"/>
		<result column="rev_rated" property="revRated"/>
		<result column="cm_num" property="cmNum"/>
		<result column="cm_goal_people" property="cmGoalPeople"/>
		<result column="cm_delivery_time" property="cmDeliveryTime"/>
		<result column="cm_close" property="cmClose"/>
		<collection property="ratelist" ofType="Integer"/>
	</resultMap>
	
	<select id="selectMainSearch" parameterType="map" resultMap="SearchStoreResultMap">
		select a.sto_num,sto_name,rev_rated,cm_goal_people,sto_add1,sto_add2,
		sto_phone,cm_delivery_time,cm_close from store_tb a 
		left join common_tb b on a.sto_num = b.sto_num 
		left join (select cm_num, round(avg(rev_rated),1) rev_rated
		from review_tb group by cm_num) c on b.cm_num =c.cm_num 
		where cm_delivery_time &gt;= to_date('%'||#{deliveryTime})
		and sto_add1||sto_add2 like '%'||#{juso}||'%'
	</select>
	<!--  
	<select id="selectMainSearch" parameterType="map" resultMap="SearchStoreResultMap">
		select a.sto_num,sto_name,rev_rated,cm_goal_people,sto_add1,sto_add2,
		sto_phone,cm_delivery_time,cm_close from store_tb a 
		left join common_tb b on a.sto_num = b.sto_num 
		left join (select cm_num, round(avg(rev_rated),1) rev_rated
		from review_tb group by cm_num) c on b.cm_num =c.cm_num 
		where cm_delivery_time &gt;= <![CDATA[select substr(sysdate,1,10)|| ||#{deliveryTime} from dual]]>
		and sto_add1||sto_add2 like '%'||#{juso}||'%'
	</select>
	-->
<!--  select (substr(sysdate,1,10))||' '||'13:00:00' from dual;
	<select id="selectDetailSearch" parameterType="map" resultMap="SearchStoreResultMap">
        select a.sto_num,sto_name,rev_rated,cm_goal_people,sto_add1,sto_add2,
        sto_phone,cm_delivery_time,cm_close from store_tb a 
        left join common_tb b on a.sto_num = b.sto_num 
        left join (select cm_num, round(avg(rev_rated),1) rev_rated
        from review_tb group by cm_num) c on b.cm_num =c.cm_num 
        where cm_delivery_time &gt;= #{deliveryTime} 
        and sto_add1||sto_add2 like '%'||#{juso}||'%'

        <if test="rated!=null">
        	and rev_rated in
            <foreach collection="ratelist" item="rated" open="(" close=")" separator=",">
                #{rated}
            </foreach>
        </if>
        <if test="delivery_time!=null">
            and cm_delivery_time=#{deliveryTime}
        </if>
        <if test="close_time!=null">
            and cm_close_time=#{cmCloseTime}
        </if>
    </select>
-->     
	<select id="selectDetailSearch" parameterType="map" resultMap="SearchStoreResultMap">
        select a.sto_num,sto_name,rev_rated,cm_goal_people,sto_add1,sto_add2,
        sto_phone,cm_delivery_time,cm_close from store_tb a 
        left join common_tb b on a.sto_num = b.sto_num 
        left join (select cm_num, round(avg(rev_rated),1) rev_rated
        from review_tb group by cm_num) c on b.cm_num =c.cm_num 
        where cm_delivery_time &gt;= (to_char(sysdate,'yyyy-mm-dd'))||#{deliveryTime} 
        and sto_add1||sto_add2 like '%'||#{juso}||'%'

        <if test="ratelist!=null">
        	and
            <foreach collection="ratelist" item="item" index="index" open="(" close=")" separator="or">
               rev_rated = #{item}
            </foreach>
        </if>
        <if test="deliveryTime2!=null">
            and cm_delivery_time&gt;=#{deliveryTime2}
        </if>
        <if test="cmClose!=null">
            and cm_close=#{cmClose}
        </if>
    </select>
</mapper>