<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.commonchicken.mapper.SearchStoreMapper">
	<resultMap type="SearchStoreVO" id="SearchStoreResultMap">
		<id column="sto_num" property="stoNum"/>
		<result column="sto_name" property="stoName"/>
		<result column="sto_add1" property="stoAdd1"/>
		<result column="sto_add2" property="stoAdd2"/>
		<result column="sto_phone" property="stoPhone"/>
		<result column="rev_rated" property="revRated"/>
		<result column="cm_num" property="cmNum"/>
		<result column="cm_goal_people" property="cmGoalPeople"/>
		<result column="cm_delivery_time" property="cmDeliveryTime"/>
		<result column="cm_close" property="cmClose"/>
		<result column="sto_upload" property="stoUpload"/>
		<!--  <collection property="" ofType="CommonDTO">
			<id column="cm_num" property="cmNum"/>
			<result column="cm_goal_people" property="cmGoalPeople"/>
			<result column="cm_delivery_time" property="cmDeliveryTime"/>
			<result column="cm_close" property="cmClose"/>
		</collection>-->
		<collection property="ratelist" ofType="Integer"/>
	</resultMap>
	<!--  
	<select id="selectAllSearch" resultMap="SearchStoreResultMap">
		  <![CDATA[
		select a.sto_num,sto_name,nvl(rev_rated1,0),cm_goal_people,b.cm_num,sto_add1,sto_add2,
		sto_phone,cm_delivery_time,cm_close from store_tb a 
		left join common_tb b on a.sto_num = b.sto_num 
		left join (select cm_num, round(avg(rev_rated),1) rev_rated1
		from review_tb group by cm_num) c on b.cm_num =c.cm_num 
		]]>
	</select>-->
	
	<select id="selectAllSearch" resultMap="SearchStoreResultMap">
		  <![CDATA[
		select a.sto_num,sto_name,rev_rated,cm_goal_people,b.cm_num,sto_add1,sto_add2, sto_phone,cm_delivery_time,cm_close,sto_upload  
		from store_tb a left join common_tb b on a.sto_num = b.sto_num left join (select cc.sto_num, round(avg(rv.rev_rated),1) 
		rev_rated from review_tb rv join common_tb cc on rv.cm_num = cc.cm_num group by cc.sto_num) c on b.sto_num = c.sto_num 
		order by sto_name
		]]>
	</select>
	
	<!--  
	<select id="selectMainSearch" parameterType="map" resultMap="SearchStoreResultMap">
		  <![CDATA[
		select a.sto_num,sto_name,nvl(rev_rated1,0),cm_goal_people,b.cm_num,sto_add1,sto_add2,
		sto_phone,cm_delivery_time,cm_close from store_tb a 
		left join common_tb b on a.sto_num = b.sto_num 
		left join (select cm_num, round(avg(rev_rated),1) rev_rated1
		from review_tb group by cm_num) c on b.cm_num =c.cm_num 
		where cm_delivery_time >= TO_DATE(#{deliveryTime},'YYYY-MM-DD hh24:mi:ss')
		and sto_add1||sto_add2 like '%'||#{juso}||'%'
		]]>
	</select>-->
	
	<select id="selectMainSearch" parameterType="map" resultMap="SearchStoreResultMap">
		  <![CDATA[
		select a.sto_num,sto_name,rev_rated,cm_goal_people,b.cm_num,sto_add1,sto_add2, sto_phone,cm_delivery_time,cm_close,sto_upload 
		from store_tb a left join common_tb b on a.sto_num = b.sto_num left join (select cc.sto_num, round(avg(rv.rev_rated),1) 
		rev_rated from review_tb rv join common_tb cc on rv.cm_num = cc.cm_num group by cc.sto_num) c on b.sto_num = c.sto_num 
		where cm_delivery_time >= TO_DATE(#{deliveryTime},'YYYY-MM-DD hh24:mi:ss')
		and sto_add1||sto_add2 like '%'||#{juso}||'%' order by sto_name
		]]>
	</select>
	<!-- 
	<select id="selectDetailSearch" parameterType="map" resultMap="SearchStoreResultMap">
        <![CDATA[
		select a.sto_num,sto_name,nvl(rev_rated1,0),cm_goal_people,b.cm_num,sto_add1,sto_add2,
		sto_phone,cm_delivery_time,cm_close from store_tb a 
		left join common_tb b on a.sto_num = b.sto_num 
		left join (select cm_num, round(avg(rev_rated),1) rev_rated1
		from review_tb group by cm_num) c on b.cm_num =c.cm_num 
		where cm_delivery_time >= TO_DATE(#{deliveryTime},'YYYY-MM-DD HH24-MI-SS')
		and sto_add1||sto_add2 like '%'||#{juso}||'%'
		]]>
        	<if test="ratelist=0">
        	and
	            <foreach collection="ratelist" item="item" index="index" open="(" close=")" separator="or">
              		 <![CDATA[nvl(rev_rated1,0) is null]]>
           		</foreach>
        	</if>
        	<if test="ratelist=null">
        	and
	            <foreach collection="ratelist" item="item" index="index" open="(" close=")" separator="or">
              		 <![CDATA[nvl(rev_rated1,0) is null]]>
           		</foreach>
        	</if>
        	<if test="ratelist!=null">
        	and
	            <foreach collection="ratelist" item="item" index="index" open="(" close=")" separator="or">
              		 <![CDATA[nvl(rev_rated1,0) between #{item} and ${item}]]>+1
           		</foreach>
        	</if>
        <if test="deliveryTime2!=null">
            and cm_delivery_time&gt;=<![CDATA[TO_DATE(#{deliveryTime2},'YYYY-MM-DD HH24-MI-SS')]]>
        </if>
        
        <if test="cmClose!=null">
            and cm_close&gt;=<![CDATA[TO_DATE(#{cmClose},'YYYY-MM-DD HH24-MI-SS')]]>
        </if>
		
		order by sto_name
    </select> -->
	<select id="selectDetailSearch" parameterType="map" resultMap="SearchStoreResultMap">
        <![CDATA[
		select a.sto_num,sto_name,rev_rated,cm_goal_people,b.cm_num,sto_add1,sto_add2, sto_phone,cm_delivery_time,cm_close,sto_upload  
		from store_tb a left join common_tb b on a.sto_num = b.sto_num left join (select cc.sto_num, round(avg(rv.rev_rated),1) 
		rev_rated from review_tb rv join common_tb cc on rv.cm_num = cc.cm_num group by cc.sto_num) c on b.sto_num = c.sto_num 
		where cm_delivery_time >= TO_DATE(#{deliveryTime},'YYYY-MM-DD HH24-MI-SS')
		and sto_add1||sto_add2 like '%'||#{juso}||'%'
		]]>
        	<!--  <if test="ratelist=0">
        	and
	            <foreach collection="ratelist" item="item" index="index" open="(" close=")" separator="or">
              		 <![CDATA[rev_rated is null]]>
           		</foreach>
        	</if>
        	<if test="ratelist=null">
        	and
	            <foreach collection="ratelist" item="item" index="index" open="(" close=")" separator="or">
              		 <![CDATA[rev_rated is null]]>
           		</foreach>
        	</if>-->
        	<if test="ratelist!=null">
        	and
	            <foreach collection="ratelist" item="revRated" index="index" open="(" close=")" separator="or">
              		 <![CDATA[rev_rated between #{revRated} and ${revRated}]]>+1
           		</foreach>
        	</if>
        <if test="deliveryTime2!=null">
            and cm_delivery_time&gt;=<![CDATA[TO_DATE(#{deliveryTime2},'YYYY-MM-DD HH24-MI-SS')]]>
        </if>
        
        <if test="cmClose!=null">
            and cm_close&gt;=<![CDATA[TO_DATE(#{cmClose},'YYYY-MM-DD HH24-MI-SS')]]>
        </if>
		
		order by sto_name
    </select>
</mapper>

<!--  
        	<if test="rev_rated1!=null">
        	and
	            <foreach collection="ratelist" item="item" index="index" open="(" close=")" separator="or">
              		 <![CDATA[rev_rated1 between #{item} and ${item}]]>+1
           		</foreach>
        	</if>
        	<if test="rev_rated1=0">
        	and
	            <foreach collection="ratelist" item="item" index="index" open="(" close=")" separator="or">
              		 <![CDATA[rev_rated1 is null]]>
           		</foreach>
        	</if>
        	
        	-->