<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
STO_NUM          NOT NULL VARCHAR2(50)   
MEM_EMAIL        NOT NULL VARCHAR2(50)   
STO_CODE         NOT NULL VARCHAR2(50)   
STO_NAME         NOT NULL VARCHAR2(50)   
STO_CEO          NOT NULL VARCHAR2(50)   
STO_CONDITION    NOT NULL VARCHAR2(50)   
STO_SECTOR       NOT NULL VARCHAR2(50)   
STO_ZIP_CODE     NOT NULL VARCHAR2(50)   
STO_ADD1         NOT NULL VARCHAR2(50)   
STO_ADD2         NOT NULL VARCHAR2(50)   
STO_PHONE        NOT NULL VARCHAR2(50)   
STO_STATUS       NOT NULL NUMBER(1)      
STO_OPENNING     NOT NULL VARCHAR2(50)   
STO_MINORDER     NOT NULL VARCHAR2(50)   
STO_PAYMENT      NOT NULL VARCHAR2(50)   
STO_BONE_ORG     NOT NULL VARCHAR2(50)   
STO_BONELESS_ORG NOT NULL VARCHAR2(50)   
STO_MESSAGE      NOT NULL VARCHAR2(1000) 
STO_ORIGIN                VARCHAR2(100)  
STO_UPLOAD                VARCHAR2(100)
	private String stoNum;
	private String memEmail;
	private String stoCode;
	private String stoName;
	private String stoCeo;
	private String stoCondition;
	private String stoSector;
	private String stoZipCode;
	private String stoAdd1;
	private String stoAdd2;
	private String stoPhone;
	private int stoStatus;
	private String stoOpenning;
	private String stoMinorder;
	private String stoPayment;
	private String stoBoneOrg;
	private String stoBonelessOrg;
	private String stoMessage;
	private String stoOrigin;
	private String stoUpload;
	private MultipartFile file;  
 -->


<mapper namespace="com.commonchicken.mapper.StoreMapper">
	
	<insert id="insertStore">
		<selectKey resultType="int" keyProperty="code" order="BEFORE">
			select rest_board_seq.nextval from dual
		</selectKey>
		insert into store_tb values(sto_num, mem_email, sto_code, sto_name, sto_ceo, sto_condition, sto_sector, sto_zip_code, sto_add1,
		 sto_add2, sto_phone, sto_status, sto_openning, sto_minorder, sto_payment, sto_bone_org, sto_boneless_org, sto_message, sto_origin, sto_upload)
		values (#{stoNum}, #{memEmail}, #{code}, #{stoName}, #{stoCeo}, #{stoCondition}, #{stoSector}, #{stoZipCode}, #{stoAdd1},
		 #{stoAdd2}, #{stoPhone},0, #{stoOpenning}, #{stoMinorder}, #{stoPayment}, #{stoBoneOrg}, #{stoBonelessOrg}, #{stoMessage}, #{stoOrigin}, #{stoUpload})
	</insert>
	
	<update id="updateStore">
		update store_tb set sto_name=#{stoName}, sto_ceo=#{stoCeo},
		 sto_condition=#{stoCondition}, sto_sector=#{stoSector}, sto_zip_code=#{stoZipCode}, sto_add1=#{stoAdd1}, sto_add2=#{stoAdd2},
		 sto_phone=#{stoPhone}, sto_status=#{stoStatus}, sto_openning=#{stoOpenning}, sto_minorder=#{stoMinorder}, sto_payment=#{stoPayment},
		 sto_bone_org=#{stoBoneOrg}, sto_boneless_org=#{stoBonelessOrg}, sto_message=#{stoMessage}, sto_origin=#{stoOrigin}, sto_upload=#{stoUpload} where sto_num=#{stoNum}
	</update>
	
	
	<select id="selectStore" resultType="StoreDTO">
		select * from store_tb where sto_num=#{stoNum}
	</select>
	
	<select id="selectStoreList" resultType="StoreDTO">
			select * from store_tb order by sto_num
	</select>

</mapper>